@font-face {
    src: url("../fonts/Tajawal-Regular.ttf");
    font-family: "main";
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "main", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
    background: #fcfeff;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
nav a , nav h4{
    color: white !important;
}
.nav-color a , .nav-color h4{
    color: black !important;
}
.nav-color .try{
    color: #FFFFFF !important;
}
.bg-liner{
    background: linear-gradient(to left , #476CB3 1%, #5D4EA1 80% )
}
.w-auto{
    width: auto !important;
}
.overlay-3{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px 15px 20px 15px;
    color: #FFF;
    background: linear-gradient(to top, #000, transparent);
}
.w-85{
    width: 85%;
}
.h6{
    font-size: 17px !important;
}
.font-13{
    font-size: 13px;
}
.font-12{
    font-size: 12px;
}
.font-15{
    font-size: 15px;
}
.font-18{
    font-size: 18px;
}
.mb-1px{
    margin-bottom: 3px;
}
.w-120px{
    width: 120px !important;
}
.w-40{
    width: 40px !important;
}
.w-20px{
    width: 25px;
}
.h-2px{
    height: 3px;
}
.text-main{
    color: #5E3F99;
}
/*.bg-slider{*/
/*    background: url("../images/bg-slider.jpeg") no-repeat center;*/
/*    background-size: 100%;*/
/*}*/
.bg-main{
    background: linear-gradient(to left , #476CB3 1%, #5E3F99 80% )
}
.bg-primary{
    background: rgb(32, 167, 223) !important;
}
.w-80px{
    width: 80px;
    height: 80px;
}
.py-10px{
    padding: 5px 7px;
}
.bg-main-slid{
    background: linear-gradient(to left , #476CB3 1%, #5E3F99 80% ) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.opasity-0 {
    opacity: 0;
}

.opasity-1 {
    opacity: 1 !important;
    transition: 2s all;
}

.opacity-0-e {
    opacity: 0 !important;
}
.text-main-new-primary{
    color:#2e66f5 !important ;
}
.bg-main-new-primary{
    background-color:#FFFFFF !important ;
}
.apple h5 {
    color: #277093;
}

.bg-edit {
    background-color: #558889;
    transition: ease 1s;
}

.bg-edit-microsoft {
    background-color: #FFFFFF;
    transition: ease 1s;
}

.text-main-danger {
    color: #0d6efd;
}

.text-main-success, .text-main {
    color: #558889;
}

.bg-edit-2 {
    background-color: #0d6efd;
    transition: ease 1s;
}
.safe, .safe-2 {
    opacity: 0;
}

.text-gr {
    color: #40ADB0;
}

.typed-out {
    overflow: hidden;
    animation: typing 5s forwards;
    white-space: nowrap;
    border-right: 2px solid #558889;
    width: 0;
    color: #FFFFFF;
    padding: 0 6px;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}
.text-main-success, .text-main {
    color: #558889;
}

.bg-edit-2 {
    background-color: #0d6efd;
    transition: ease 1s;
}

.bg-edit h5, .bg-edit-2 {
    color: #FFFFFF !important;
    transition: ease 1s;

}

.typed-out-2 {
    overflow: hidden;
    opacity: 1 !important;
    animation: typing-2 5s forwards;
    white-space: nowrap;
    width: 0;
}

@keyframes typing-2 {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}
.icon-input {
    margin: 13px 15px;
    font-size: 15px;
}
.rounded-left-top {
    border-top-left-radius: .3rem !important;
    border-bottom-left-radius: .3rem !important;
}
.logo-overlay {
    z-index: 25;
    top: 100px;
}
.elementor-1620 .elementor-element.elementor-element-24c6f6de .wpb-counter {
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 5px 10px 20px 2px rgba(0, 0, 0, 0.08);
    padding: 45px 0px 45px 0px;
}
.icon-2 {
    color: #027C21;
    font-size: 44px;
    margin: 0 0 30px 0;
}
.hover-card:hover{
    background-color: #5D4EA1;
    color: #FFFFFF;
    border: 1px solid transparent !important;
    transition: .5s ease;
}
.h-100n-45{
    height: calc(100vh - 60px);
}
.cover{
    object-fit: cover;
}
.bg-overlay{
    background: rgba(0,0,0,0.35);
}
nav{
    transition: ease 0.5s;
}
.bg-nav-white{
    background: #FFFFFF;
    transition: ease 0.5s;
}
.bg-main-nav{
    background: linear-gradient(to left , #476CB3 1%, #5D4EA1 80% );
    transition: ease 0.5s;

}
.member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}
.img-teacher {
    height: 230px !important;
}
.member .social {
    position: absolute;
    left: 0;
    top: 115px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    z-index: 1000;
}
.z-0{
    z-index: -1 !important;
    opacity: 0;
    transition: all 1s;
}
.member:hover .social {
    opacity: 1;
    bottom: 15px;
}
.member:hover .z-0{
    z-index: 1 !important;
    opacity: 1;
    transition: all 1s;
    bottom: 100%;
}
.member .member-info {
    padding: 25px 15px;
}
.member .social a {
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: rgba(85, 80, 163, 0.8);
    display: inline-block;
    transition: ease-in-out 0.3s;
    color: #fff;
}
.member-avatar {
    width: 125px;
    height: 125px;
    box-shadow: 0px 5px 5px 0px #0000002b;
}
/*.bg-section{*/
/*    background-color: #fcfeff;*/
/*}*/
#myTab .nav-link{
    padding: 5px 20px !important;
}
#myTab .first{
    padding: 5px 25px !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: linear-gradient(to left , #476CB3 1%, #5E3F99 80% ) !important;
    color: #FFFFFF !important;
    border: 1px solid transparent !important;
    padding: 5px 20px !important;

}
.nav-tabs {
    border-bottom: 0 !important;
}
.nav-tabs .nav-link{
    border: 1px solid #ddd !important;
}
.form-select{
    background-position: left .75rem center !important;
}
.rounded-10{
    border-radius: 10px;
}
.rounded-30{
    border-radius: 20px;
}
.rounded-top-30{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.rounded-bottom-30{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rounded-left-10{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bg-white-overlay{
    background-color: rgba(255,255,255,0.7);
}
.heart {
    height: 30px;
    width: 30px;
    background: #ffffffb0;
}
.z-100{
    z-index: 100;
}
.bottom-60{
    bottom: 60px
}
.owl-nav{
    position: absolute;
    top: -40px;
    left: 0;
}
.owl-carousel-9 .owl-nav{
    position: relative !important;
    text-align: center;
    top: 0 !important;
    margin-top: 10px;
}
.arrow-30{
    width: 35px;
    height: 35px;
}
.mn-t-5 {
    margin-top: -50px;
}
.mt-50{
    margin-top: 100px;
}

.or::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    height: 1px;
    background: #EBEDF0;
}
.border-md-start{
    border-left: 1px solid #ddd !important;
}
.show-more-images img{
    transition: 1s ease;
}
.show-more-images img:hover{
    height: 350px !important;
    transition: 1s ease;
}
.show-more-images:hover img{
    height: 350px !important;
    transition: 1s ease;
}
.contain{
    object-fit: contain;
}

@media (max-width: 768px) {
    .order-sm-1s {
        order: 1;
    }

    .order-sm-2s {
        order: 2;
    }

    .order-sm-3s {
        order: 3;
    }
    .list-drop {
        margin-right: -250px;
        visibility: hidden;
        position: absolute;
        display: none;
    }
    .menu-sm {
        position: fixed;
        text-align: right !important;
        display: block !important;
        top: 0;
        width: 250px;
        margin-right: 0 !important;
        height: 100%;
        background: linear-gradient(to left , #476CB3 1%, #5D4EA1 80% );
        padding: 10px 5px !important;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
        right: 0 !important;
        transition: ease .5s;
        z-index: 1000000;
        visibility: initial !important;
    }
    .li-head {
        display: block !important;
        padding: 10px !important;
        margin: 0 20px !important;
    }
    .li-head a{
        color: white !important;
    }
    .li-head .login1{
        color: black !important;
    }
    .li-head-2 {
        display: inline-block !important;
        padding: 0 7px !important;
    }
    .li-head-2 h4 , .li-head-2 i{
        display: inline-block !important;
        padding: 0 7px !important;
        color: #FFFFFF !important;
    }
    .mt-500{
        margin-top: 100px !important;
    }
    li .active{
        display: inline-block !important;
    }
    .h-100n-45{
        height: 35vh !important;
    }
    .form-select{
        border: 1px solid #ddd !important;
        border-radius: 10px;
        display: inline-block;
        width: 60%;
        padding: 5px 10px !important;
        margin-bottom: 5px;
    }
    .responsive-label label{
        width: 35%;
        display: inline-block;
    }
    .position-relative-sm{
        position: relative !important;
        bottom: 0 !important;
    }
    .border-md-start{
        border-left: 0 !important;
    }
    .align-items-center-sm{
        padding: 100px 10px !important;
        align-items: initial !important ;
        justify-content: initial !important;

    }
    .fa-3x{
        font-size: 28px !important;
    }
    .bg-main-slid{
        background-size: auto !important;
        background-position: initial !important;
    }
    .min-vh-100{
        min-height: 75vh !important;
    }
    .mx-auto-sm{
        margin-right:auto !important;
        margin-left:auto !important;
    }
}
